In [75]:
import pandas as pd
import requests

In [7]:
df = pd.read_csv('./data/Legally_Operating_Businesses_20240905.csv')

/var/folders/mg/sts1jc3x4vg3ykt3408_lxs00000gn/T/ipykernel_2448/2734958114.py:1: DtypeWarning: Columns (19,20) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("./data/Legally_Operating_Businesses_20240905.csv")

In [8]:
df.head()

,DCA License Number,License Type,License Expiration Date,License Status,License Creation Date,Industry,Business Name,Business Name 2,Address Building,Address Street Name,...,Community Board,Council District,BIN,BBL,NTA,Census Tract,Detail,Longitude,Latitude,Location
0,0967332-DCA,Business,02/28/2017,Inactive,02/04/2010,Home Improvement Contractor,"BARBARINO, JOHN JR.",JOHN BARBARINO JR_HOME IMPROVEMENT,239,MEDFORD CT,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2103411-DCA,Individual,03/31/2024,Active,01/11/2022,Sightseeing Guide,"Nieciak, Joseph",NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2060087-DCA,Individual,03/31/2024,Active,10/31/2017,Sightseeing Guide,"Arcaro, Tyler",NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2078026-DCA,Individual,03/31/2024,Active,09/11/2018,Sightseeing Guide,"HESSE, DAPHNEE",NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2057801-DCA,Individual,02/28/2019,Inactive,09/01/2017,Home Improvement Salesperson,"ESCOBAR, KEVIN",NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [9]:
print(df.shape, df.columns)

(281413, 27) Index(['DCA License Number', 'License Type', 'License Expiration Date',
       'License Status', 'License Creation Date', 'Industry', 'Business Name',
       'Business Name 2', 'Address Building', 'Address Street Name',
       'Secondary Address Street Name', 'Address City', 'Address State',
       'Address ZIP', 'Contact Phone Number', 'Address Borough',
       'Borough Code', 'Community Board', 'Council District', 'BIN', 'BBL',
       'NTA', 'Census Tract', 'Detail', 'Longitude', 'Latitude', 'Location'],
      dtype='object')

In [14]:
# only focus on business with active license
# assume that all businesses needed the license, 
# and any business that did not request a new license may no longer operating and not considered as competitors
df = df[df['License Status'] == 'Active']
print(df.shape)

(46006, 27)

In [11]:
df['Industry'].value_counts()

Industry
Home Improvement Contractor       12308
Tobacco Retail Dealer              4380
Secondhand Dealer - General        4042
Sightseeing Guide                  2916
Electronics Store                  2231
Locksmith                          2201
Tow Truck Driver                   2149
Electronic Cigarette Dealer        2098
Stoop Line Stand                   1817
General Vendor                     1778
Electronic & Appliance Service     1345
Debt Collection Agency             1327
Garage                             1215
Dealer In Products                  949
Pedicab Driver                      752
Ticket Seller                       567
Secondhand Dealer - Auto            544
Process Server Individual           508
Newsstand                           320
Pedicab Business                    318
Tow Truck Company                   294
Parking Lot                         277
Pawnbroker                          262
Employment Agency                   257
Horse Drawn Driver                  233
Car Wash                            186
Garage and Parking Lot              159
Process Serving Agency              120
Laundries                            83
Horse Drawn Cab Owner                70
Scrap Metal Processor                65
Third Party Food Delivery            40
Games of Chance                      37
Storage Warehouse                    36
Scale Dealer Repairer                31
Construction Labor Provider          29
Ticket Seller Business               20
Bingo Game Operator                  18
Sightseeing Bus                       6
Locksmith Apprentice                  6
Booting Company                       5
Commercial Lessor                     4
Sidewalk Cafe                         2
General Vendor Distributor            1
Name: count, dtype: int64

In [22]:
# how many unique business with multiple branch?
len((df['Business Name'].value_counts() > 1).index)

39446

In [23]:
df['Address Borough'].value_counts()

Address Borough
Queens           8892
Brooklyn         8458
Manhattan        6601
Outside NYC      4724
Bronx            4068
Staten Island    2122
MANHATTAN          24
QUEENS              2
Name: count, dtype: int64

In [24]:
df['Borough Code'].value_counts()

Borough Code
4.0    8894
3.0    8458
1.0    6625
2.0    4068
5.0    2122
Name: count, dtype: int64

In [25]:
df['Community Board'].value_counts() #Community District number where the business is located.

Community Board
105.0    1431
407.0     978
412.0     956
401.0     902
405.0     874
         ...
495.0       1
481.0       1
355.0       1
164.0       1
228.0       1
Name: count, Length: 65, dtype: int64

In [27]:
df['Council District'].value_counts() #City Council District number where the business is located

Council District
4.0     1411
3.0     1348
1.0     1051
28.0     793
30.0     777
26.0     766
38.0     766
49.0     758
48.0     730
50.0     710
21.0     709
39.0     705
47.0     685
22.0     683
34.0     666
43.0     664
27.0     647
51.0     642
13.0     635
32.0     621
17.0     609
29.0     609
20.0     608
2.0      604
19.0     583
33.0     572
37.0     562
15.0     559
24.0     511
5.0      510
45.0     506
25.0     498
8.0      495
44.0     490
23.0     484
46.0     478
12.0     451
40.0     442
6.0      423
11.0     422
14.0     409
10.0     374
18.0     358
9.0      339
16.0     330
41.0     327
7.0      326
35.0     325
42.0     322
36.0     313
31.0     303
Name: count, dtype: int64

In [28]:
df['NTA'].value_counts() #Neighborhood Tabulation Area where the business is located.
# is a geographic unit used by the New York City Department of City Planning to analyze and report demographic data. It is similar to a census tract but is specifically designed for New York City and its unique urban geography.
#NTAs are smaller than census tracts and are defined based on neighborhood boundaries that are often recognized by local residents and communities.

NTA
MN17    195
MN13    127
MN15    125
MN19    119
MN23    109
       ...
SI48      2
QN98      2
MN99      2
BK99      1
BX99      1
Name: count, Length: 193, dtype: int64

In [29]:
df['Census Tract'].value_counts() #	Census Tract where the business is located.
#  small geographic area, typically defined by the U.S. Census Bureau, used for collecting and reporting demographic data

Census Tract
21.0       43
115.0      40
7.0        38
1502.0     37
65.0       36
           ..
550.0       1
71702.0     1
270.0       1
907.0       1
22703.0     1
Name: count, Length: 1033, dtype: int64

In [31]:
# filter the dataset to only keep 5 boroughts, remove rows with mispelled
NYC_BOROUGHS = ['Queens', 'Brooklyn', 'Manhattan', 'Bronx', 'Staten Island']
df = df[df['Address Borough'].isin(NYC_BOROUGHS)]
print(df.shape)

(30141, 27)

In [32]:
df[['Address Borough', 'Borough Code']].value_counts()

Address Borough  Borough Code
Queens           4.0             8892
Brooklyn         3.0             8458
Manhattan        1.0             6601
Bronx            2.0             4068
Staten Island    5.0             2122
Name: count, dtype: int64

In [35]:
# how many NTA per borough

# remove row with missing NTA
df = df.dropna(subset=['NTA'])
print(df.shape)

(6189, 27)

In [36]:
df.groupby('Address Borough')['NTA'].nunique()

Address Borough
Bronx            38
Brooklyn         52
Manhattan        29
Queens           59
Staten Island    18
Name: NTA, dtype: int64

In [41]:
# convert into the dictionary
borough_nta_dict = df.groupby('Address Borough')['NTA'].apply(list).to_dict()

In [ ]:
# can we get the name of NTA?

In [43]:
df_nta = pd.read_csv("./data/Census_Demographics_at_the_Neighborhood_Tabulation_Area__NTA__level_20240905.csv")

In [45]:
df_nta.head(5)

,Geographic Area - Borough,Geographic Area - 2010 Census FIPS County Code,Geographic Area - Neighborhood Tabulation Area (NTA)* Code,Geographic Area - Neighborhood Tabulation Area (NTA)* Name,Total Population 2000 Number,Total Population 2010 Number,Total Population Change 2000-2010 Number,Total Population Change 2000-2010 Percent
0,Bronx,5.0,BX01,Claremont-Bathgate,28149.0,31078.0,2929.0,10.4
1,Bronx,5.0,BX03,Eastchester-Edenwald-Baychester,35422.0,34517.0,-905.0,-2.6
2,Bronx,5.0,BX05,Bedford Park-Fordham North,55329.0,54415.0,-914.0,-1.7
3,Bronx,5.0,BX06,Belmont,25967.0,27378.0,1411.0,5.4
4,Bronx,5.0,BX07,Bronxdale,34309.0,35538.0,1229.0,3.6

In [53]:
# it would be best to match by the brough name and the code
df_nta[['Geographic Area - Borough', 'Geographic Area - 2010 Census FIPS County Code']].value_counts()

# let drop the column code as it does not match the value used in df
df_nta = df_nta.drop(columns=['Geographic Area - 2010 Census FIPS County Code'])

In [54]:
# let's rename the column
df_nta.columns

Index(['Geographic Area - Borough',
       'Geographic Area - Neighborhood Tabulation Area (NTA)* Code',
       'Geographic Area - Neighborhood Tabulation Area (NTA)* Name',
       'Total Population 2000 Number', 'Total Population 2010 Number',
       'Total Population Change 2000-2010 Number',
       'Total Population Change 2000-2010 Percent'],
      dtype='object')

In [56]:
new_col_nta_names = {
    'Geographic Area - Borough': 'Address Borough',
    'Geographic Area - Neighborhood Tabulation Area (NTA)* Code': 'NTA',
    'Geographic Area - Neighborhood Tabulation Area (NTA)* Name': 'NTA_Name',
    'Total Population 2000 Number': 'Total_Pop_2000',
    'Total Population 2010 Number': 'Total_Pop_2010',
    'Total Population Change 2000-2010 Number': 'Num_Change_Pop_2010_2020',
    'Total Population Change 2000-2010 Percent': 'Pct_Change_Pop_2010_2020'
}
df_nta = df_nta.rename(columns=new_col_nta_names)
print(df_nta.shape)
df_nta.head(5)

,Address Borough,NTA,NTA_Name,Total_Pop_2000,Total_Pop_2010,Num_Change_Pop_2010_2020,Pct_Change_Pop_2010_2020
0,Bronx,BX01,Claremont-Bathgate,28149.0,31078.0,2929.0,10.4
1,Bronx,BX03,Eastchester-Edenwald-Baychester,35422.0,34517.0,-905.0,-2.6
2,Bronx,BX05,Bedford Park-Fordham North,55329.0,54415.0,-914.0,-1.7
3,Bronx,BX06,Belmont,25967.0,27378.0,1411.0,5.4
4,Bronx,BX07,Bronxdale,34309.0,35538.0,1229.0,3.6

In [83]:
# drop any missing data
df_nta = df_nta.dropna(subset=['NTA_Name'])
print(df_nta.shape)

(195, 7)

In [84]:
# get the search term of NTA address - ensure that we will search at specific location - NY, USA
df_nta['USA_NTA_Address'] = df_nta.NTA_Name.apply(lambda x: x + " NY USA")
df_nta[['NTA_Name', 'USA_NTA_Address']]

                            NTA_Name                         USA_NTA_Address
0                 Claremont-Bathgate               Claremont-Bathgate NY USA
1    Eastchester-Edenwald-Baychester  Eastchester-Edenwald-Baychester NY USA
2         Bedford Park-Fordham North       Bedford Park-Fordham North NY USA
3                            Belmont                          Belmont NY USA
4                          Bronxdale                        Bronxdale NY USA
..                               ...                                     ...
190               Stapleton-Rosebank               Stapleton-Rosebank NY USA
191           New Dorp-Midland Beach           New Dorp-Midland Beach NY USA
192                    Arden Heights                    Arden Heights NY USA
193                      Great Kills                      Great Kills NY USA
194  park-cemetery-etc-Staten Island  park-cemetery-etc-Staten Island NY USA

[195 rows x 2 columns]

In [86]:
# let's get the coordinations of the NTA
# programmic access is not allowed - we cannot use google API

In [ ]:
# get lat and long in separate column

In [79]:
data = response.json()
if data['status'] == "OK":
    latitude = data['results'][0]['geometry']['location']['lat']
    longitude = data['results'][0]['geometry']['location']['lng']
    print(f"Coordinates for {address}: ({latitude}, {longitude})")
else:
    print("Geocoding failed:", data['status'])

Coordinates for Belmont NY USA: (42.2231241, -78.0344506)

In [71]:
g

<[REQUEST_DENIED] Google - Geocode [empty]>

In [73]:
from geopy.geocoders import Nominatim
geolocator = Nominatim(user_agent="my-application")
location = geolocator.geocode("175 5th Avenue NYC")
print(location.address)
# Flatiron Building, 175, 5th Avenue, Flatiron, New York, NYC, New York, ...
print((location.latitude, location.longitude))
# (40.7410861, -73.9896297241625)
print(location.raw)
# {'place_id': '9167009604', 'type': 'attraction', ...}

ConfigurationError: Using Nominatim with default or sample `user_agent` "my-application" is strongly discouraged, as it violates Nominatim's ToS https://operations.osmfoundation.org/policies/nominatim/ and may possibly cause 403 and 429 HTTP errors. Please specify a custom `user_agent` with `Nominatim(user_agent="my-application")` or by overriding the default `user_agent`: `geopy.geocoders.options.default_user_agent = "my-application"`.